<!DOCTYPE html>
<html lang="en">

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f4f4f4;
    }

    header {
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    section {
        margin: 20px 0;
        padding: 20px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #8e604a;
    }

    .support {
        margin: 10px 0;
        padding: 10px;
        border: solid;
        border-radius: 5px;
        background-color: #aab396;
        border-color: #919581;
    }
</style>

<body>

    <header>
        <h1>Support Page</h1>
    </header>

    <section>
        <h2>Frequently Asked Questions (FAQs)</h2>
        <div class="support">
            <strong>Q1: How can I change my account information?</strong>
            <p>A: To change your account information, click on the "Hello {Username}" in the top right of your screen once you are logged in.</p>
        </div>
        <div class="support">
            <strong>Q2: How do I contact customer support?</strong>
            <p>A: You can reach our customer support team by emailing GibJohnTutoringSupport@fakeemail.com or calling (123) 456-7890.</p>
        </div>
        <div class="support">
            <strong>Q3: Where can I contact a tutor privately?</strong>
            <p>A: To contact a tutor privately, head to the tutors page and find your tutor, then click on their details and you will find their email and phone number to contact them by.</p>
        </div>
    </section>

    <section>
        <h2>Contact Us</h2>
        <div class="support">
            
            <p>If you have any questions or need further assistance, please don't hesitate to contact us.</p>
        </div>
        <div class="support">
            <ul>
                <li>Email: <a href="mailto:GibJohnTutoringSupport@fakeemail.com">GibJohnTutoringSupport@fakeemail.com</a></li>
                <li>Phone: <a href="tel:+11234567890">(123) 456-7890</a></li>
            </ul>
        </div>
    </section>
    </body>
</html>