@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <section id="rounded-box" class="p-4 shadow-sm bg-#8e604a">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <!--
                    Input email box
                -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <!--
                    Input password box
                -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <!--
                    Confirm password box
                -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div id="register-btn" class="d-flex justify-content-end mt-4">
                    <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>

<style>
    #rounded-box {
        /*
        Styling for the background box
        */
        border-radius: 20px;
        background-color: grey;
    }

    .form-floating > input {
        /*
        Styling for the input boxes
        */
        background-color: lightgrey;
        border-color: black;
        border-width: 4px;
        border-style: solid;
        padding: 10px 15px;
    }

    .mt-3 a {
        color: lightgrey;
        text-decoration: none;
    }

    .mt-3 a:hover {
        color: grey;
    }

    #register-btn > button{ 
        /*
        Styling for register button
        */
        background-color: lightgrey;
        border-color: black;
        border-width: 4px;
        border-style: solid; 
        padding: 10px 15px;
        color: black;
    }

    #register-btn > button:hover {
            background-color: grey;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}