@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Account created successfully, please click <a id="confirm-link" href="@Model.EmailConfirmationUrl">here</a> to confirm your account.
</p>

<p>By default, your username is your email, if you wish to change your username please head to your user account settings by clicking your username in the top right once you are logged in.</p>