@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers
@model List<LoginBlankTemplate.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="table-cell-bg">@user.UserName</td>
                <td class="table-cell-bg">@user.Email</td>
                <td class="table-cell-bg">@string.Join(" , ", user.Roles.ToList())</td>
                <td class="table-cell-bg">
                    <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table-cell-bg {
        background-color: #76a56a !important;
        border: #5E8953 solid;
    }

        .table-cell-bg > a {
                background-color: #8e604a;
                border: 2px black;
        }
</style>